/*

Tiisetso Dinoko Portfolio

site Url: 

*/

body {
	background: #f3f4f6;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
	font-weight: 300;
    overflow-x: hidden;
}

html,body {
  width: 100%;
  height: 100%;
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: 300;
  user-select: none
}

h1,h2,h3 {
  font-weight: 300;
}

h1 {
  font-size: 42px;
  padding-bottom: 14px;
  margin-bottom: 0px;
}

h2 {
  font-size: 42px;
  line-height: 52px;
  margin-top: 0px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 6px;
}

h4 {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 6px;
}

h5 {
  color: #666666;
}

strong {
  color: #232B2B;
  font-weight: normal;
}

p {
    color: #888;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
    user-select: none
}

.section-btn {
  background-color: transparent;
  border: 3px solid #232B2B;
  border-radius: 100px;
  color: #232B2B;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.6px;
  padding: 12px 36px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.section-btn:hover {
  background: #E3AE57;
  border-color: transparent;
  color: #ffffff;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.section-title {
  position: relative;
  padding-bottom: 22px;
}

.main-heading {
  font-size: 90px;
  padding-bottom: 14px;
  margin-bottom: 0px;
  user-select: none;
  font-family: Arial, sans-serif;
  letter-spacing:-1px;
}

#about,
#service,
#experience,
#education,
#contact {
  position: relative;
}

#home .container,
#about .container, 
#experience .container,
#service .container,
#education .container,
#contact .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

#experience .experience-thumb,
#education .education-thumb  {
  padding: 22px 42px 42px 42px;
}

#service,
#quotes,
footer {
  text-align: center;
}

#experience,
#education {
  background: #E9724C;
}

.background-image {
    background-position: 50% 50% !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    min-height: 75vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.color-white {
  color: #ffffff;
}

.color-yellow {
  color: #E3AE57;
}

.bg-yellow {
  background: #E3AE57;
}

.bg-white {
  background: #ffffff;
}

.bg-dark {
  background: #161616;
}



/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #E3AE57;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #E3AE57;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #f3f4f6;
}

/* .spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #E3AE57;
  border-top-color: #f9f9f9;
  animation: spinner .6s linear infinite;
} */

@-webkit-@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}



/*---------------------------------------
    Navigation section              
-----------------------------------------*/
.main-header {
  padding-top: 25px;
}
.custom-main {
    margin-bottom: 0;
    background-color: #f3f4f6;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0%;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 15px;
    border-bottom: none;
    transition: all 0.4s ease-in-out;
    letter-spacing: 0.5px;
    list-style-type: none;
    display: flex;
}

.custom-main .main-brand {
  color: #080808;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -1px;
}

.main-brand img {
  display: inline-block;
  vertical-align: top; /* optional, to vertically align the image with the text */
}

.custom-main li a {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 16px;
    border-bottom: none;
    transition: all 0.4s ease-in-out;
    letter-spacing: -0.5px;
    display: inline-block;
}

.custom-main .nav li a:hover {
    color: #f3f4f6;
    border-bottom: 1px solid #EE4B2B; /* add red bottom border */
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}


.custom-main .nav li.active > a {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 3px; 
  padding-left: 5%;
  padding-right: 10px;
  margin-right: 40px;
  color: #fff;
  background-color: #000;
  border: 0.001rem solid #61514e; /* add red bottom border */
  letter-spacing: 0.5px;
}

.custom-main .main-toggle {
    border: blue;
}

.custom-main .main-toggle {
    background-color: transparent;
}

.custom-main .main-toggle .icon-bar {
    background: #E3AE57;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-main {
        border-bottom: 0;
        background: 0 0; 
    }
    .custom-main.top-nav-collapse {
        background: #f3f4f6;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);

    }

}



/*---------------------------------------
    Home section              
-----------------------------------------*/

#home h1 {
  padding-bottom: 2px;
  font-size: 60px;
}

#home p {
  letter-spacing: -0.5px;
  line-height: 30%;

}

#home .contact p{
  color: red;
}

#home .col-md-6 {
  background: #f3f4f6;
/* light blue color: #c3eafd; */
  padding-right: 0;
  padding-left: 0;
}

/* #home .home-img {
  background: url('../images/home-img.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100vh;
} */

#home .home-thumb {
  padding: 50px 0px 0 30px;
}

.bio-intro {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 20%;
  padding: 60px 45px 0 45px;
}



/*---------------------------------------
   About section              
-----------------------------------------*/

.marquee {
  animation: slide 10s linear infinite;
  overflow: hidden;
  white-space: wrap;
}

#about .about-img {
    background: url('../images/about-img.jpg') no-repeat;
}

#about .about-thumb,
#about .skill-thumb {
  padding: 22px 32px 32px 32px;
}

#about .progress {
  background: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  height: 2px;
}

#about .progress-bar-primary {
  background: #232B2B;
}

#about strong,
#about span {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 8px;
}



/*---------------------------------------
    Service section              
-----------------------------------------*/

table {
  border-collapse: collapse; /* Remove border spacing between cells */
}

td {
  padding: 10px; /* Add some padding to the cells */
  border: 1px solid black; /* Add a border to the cells */
}


th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

